pipeline/Incremental_loop.json
{
	"name": "Incremental_loop",
	"properties": {
		"activities": [
			{
				"name": "ForEachTable",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LkLoopTable",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LkLoopTable').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "Incremental",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "Incremental",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"schema": {
										"value": "@item().schema",
										"type": "Expression"
									},
									"table": {
										"value": "@item().table",
										"type": "Expression"
									},
									"cdc_col": {
										"value": "@item().cdc_col",
										"type": "Expression"
									},
									"from_date": {
										"value": "@item().from_date",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "LkLoopTable",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "JsonLoopTable",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Web1",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "ForEachTable",
						"dependencyConditions": [
							"Skipped",
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"url": "https://prod-04.polandcentral.logic.azure.com:443/workflows/b1987f4c91ce4e16aee357ec9469c35d/triggers/When_an_HTTP_request_is_received/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2FWhen_an_HTTP_request_is_received%2Frun&sv=1.0&sig=UwhQu25TFVEer9FeZMZfGgyg7PFvqNtiQNF1aP56MbQ",
					"body": {
						"value": "{\n    \"pipelinename\":\"@{pipeline().GroupId}\",\n    \"pipelinerunid\":\"@{pipeline().RunId}\"\n}",
						"type": "Expression"
					}
				}
			}
		],
		"annotations": []
	}
}